* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#game-board {
    --cell-size: 20vmin;
    --cell-gap: 2vmin;

    position: relative;
    display: grid;
    grid-template-columns: repeat(4, var(--cell-size));
    grid-template-rows: repeat(4, var(--cell-size));
    gap: 2vmin;
    border-radius: 1vmin;
}

.cell {
    background-color: #444;
    border-radius: 1vmin;
}

.tile {
    --y: 1;
    --x: 2;
    position: absolute;
    top: calc(var(--y) * (var(--cell-size) + var(--cell-gap)));
    left: calc(var(--x) * (var(--cell-size) + var(--cell-gap)));
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vmin;
    height: 20vmin;
    border-radius: 1vmin;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7.5vmin;
    font-weight: bold;
    background-color: hsl(25, 60%, var(--bg-lightness));
    color: hsl(20, 60%, var(--text-lightness));
    transition: 100ms;
    animation: show 200ms;
}

@keyframes show {
    0% {
        opacity: 0.5;
        transform: scale(0);
    }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.nav-left,
.nav-right {
  display: flex;
}

.timer {
  flex-grow: 1;
  text-align: center;
  font-size: 24px;
 }

button {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #000000;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
  
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modal-content-info {
    flex-grow: 1;
    text-align: justify;
    font-size: 2.5vmin;
    margin-bottom: 20px;
    margin-top: 20px;
}

.modal-content-info h2{
  text-align: center;
  margin-bottom: 20px;
}

  
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}